* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
   font-family: "open sans";
   color: #fff;
}
section {
    position: relative;
    height: 100vh;
    width: 100%;
    background: url("sunrise-bg-3.jpg");
    background-size: cover;
    background-position: center center;

}
.form-container {
    /* border: 2px solid black ; */
    border-radius: 10px;
    padding:  50px 30px;
    margin: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 380px;
    transform: translate(-50%,-50%);
    box-shadow: 7px 7px 60px #000;
}
div.form-container * {
    margin: 10px ;
}
h1 {
    text-transform: uppercase;
    font-size: 2m; 
    margin-bottom: 2em;
    text-align: center;
}
.control input {
     width: 100%;
     display: block;
     padding: 10px;
     color: #222;
     border: none;
     outline: none;
     margin: 1em o;
}
.control input[type="submit"]{
    background: #58af64;
    color: #fff;
    text-transform: uppercase;
    font: 1.2em ;
    opacity: .7;
    transition: opacity .3s ease;
}
.control input[type="submit"]:hover{
    opacity: 1;
}
.link div {
    align: center;
     
}

.link a {
    text-decoration: none;
    color: #fff;
    opacity: .7;
    transition: opacity .3s ease ;
    text-align: center;

}
.link a:hover {
    opacity: 1;
}
